* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parallax {
    background-image: url("sky.png");
    min-height: 550px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#quote {
    padding-top: 50px;
    height: 450px;
}

#container{
    position: relative;
    color: black;
    height: 170px;
    width: 1400px;
    text-align: left;
}

#links {
    margin-left: 1100px;
    display: flex;
    width: 200px;
    transform: translate(0px, -150px);
}

.link {
    margin: auto;
}

#centered {
    transform: translate(0%, 100%);
    font-size: 50px;
    margin-left: 50px;
}

#tasks {
    margin: auto;
    background-color: white;
    width: 1400px;
    display: flex; 
    justify-content: center;
    margin-bottom: 10px;
}

.task_button {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-style: solid;
    border-color: transparent;
}

.task_button:hover {
    border-color: black;
}

#main {
    margin: auto;
    margin-top: 5px;
    width: 1400px;
    height: 1000px;
    display: flex;
}

#profile_pic {
    width: 400px;
    height: 563px;
    margin-left: 20px;
    margin-top: 20px;
}

#text {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 1000px;
    height: 524px;
}
