* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
    position: relative;
    text-align: center;
    color: white;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

#tasks {
    position: relative;
    margin: auto;
    background-color: lightpink;
    width: 1400px;
    display: flex; 
    justify-content: center;
}

.task_button {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightpink;
    border: none;
    font-size: 18px;
}

.task_button:hover {
    background-color: white;
}
